<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type="button">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
				</button>
			</li>
			<li id="search-modal-btn">
				<button type="button">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
				</button>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li>
				<button type="button">
					<span>SUBSCRIBE NOW<span>
				</button>
			</li>

			<li>
				<button type="button">
					<span>LOG IN</span>
				</button>
			</li>

			<li>
				<button type="button">
					<i class="fas fa-cog"></i>
				</button>
			</li>
		</ul>
		
	</nav>
</header>