<div class="masthead">
    <div class="language-nav">
        <a href="">CSS</a> 
        <a href="">HTML</a> 
        <a href="">Javascript</a> 
        <a href="">Ruby</a> 
    </div>

    <h1 id="msthead-header">APP ACADEMY TIMES</h1>

    <div>
        <ul>
            <li>Tuesday, October 18, 2016</li>
            <li><a href="">Today’s Paper</a><li>
            Video
            77°F
            AAO +100%
        </ul>
    </div>
</div>