<div class="masthead">
    <div class="language-nav">

        <b><a href="">CSS</a></b>
        <a href="">HTML</a> 
        <a href="">Javascript</a> 
        <a href="">Ruby</a> 
    </div>

    <h1 id="msthead-header">APP ACADEMY TIMES</h1>

    <ul class="masthead-links">
        <li><a href="">
        <button class="m-links" type="button">
        <time>Tuesday, October 18, 2016</time>
        </button>
        </a></li>

        <li>
        <button class="m-links" type="button">
        <i class="far fa-newspaper"></i>
        <a href="">Today’s Paper</a>
        </button>
        </li>

        <li>
        <button class="m-links" type="button">
        <i class="fas fa-video"></i>
        <a href="">Video</a>
        </button>
        </li>

        <li><i class="m-links">77°F</i></li>
        
        <li><a class="m-links" href="">AAO <strong>+100%</strong></a></li>
    </ul>
</div>