/* Define application-wide selectors here!*/
html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
	color: white;
	background-color: #424B54;
}

button {
	background-color: #424B54;
	border-color: #424B54;
	// color: ;
	font-weight: bold;
	padding: 10px;
	border-radius: 2%;
	transition: 0.1s;
	font-family: 'Bebas Neue', cursive;
	// text-transform:
	font-size: 200%;
	// text-align:
}

button:hover {
	background-color: #E1CE7A;
	border-color: #E1CE7A;
	color: #424B54;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
